@-webkit-keyframes check-menu {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes check-menu {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes check-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes like {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes like {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

body {
  max-width: 1920px;
  margin: 0;
  overflow-x: hidden;
}

main {
  color: black;
}

@font-face {
  font-family: "roboto";
  src: url("/sass/polices/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "shrikhand";
  src: url("/sass/polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

body {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'shrikhand', Arial, Helvetica, sans-serif;
}

.header {
  margin: 0;
  border-bottom: solid lightgrey 1px;
  -webkit-box-shadow: 4px 4px 4px #e6e6e6;
          box-shadow: 4px 4px 4px #e6e6e6;
}

.header__lien {
  width: 1.5em;
  color: black;
  position: absolute;
}

.header i {
  padding-top: 2px;
  position: relative;
  left: 1em;
  font-size: larger;
}

.header__conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5em auto 1em auto;
}

.header__conteneur__logo {
  width: 10.5em;
}

.localisation {
  background: rgba(246, 246, 246, 0.5);
  height: 4em;
  border-bottom: solid 1px #f6f6f6;
}

.localisation__conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 1em;
  opacity: 1;
}

.localisation__conteneur i {
  padding-right: 1em;
  font-size: larger;
  opacity: 1;
}

.localisation__conteneur p {
  margin: 0;
  padding-top: 2px;
  font-weight: bold;
  opacity: 1;
}

.decouverte {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 246, 246, 0.3)), to(rgba(246, 246, 246, 0.5)));
  background: linear-gradient(rgba(246, 246, 246, 0.3), rgba(246, 246, 246, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.decouverte__conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 2.2em;
}

.decouverte__conteneur__titre {
  margin: 0;
  padding-top: 1.3em;
  font-weight: 100;
}

.decouverte__conteneur__soustitre {
  margin: 0.6em auto 1.5em auto;
}

.decouverte__conteneur__btn {
  margin: 0.6em auto 3.5em auto;
  padding: 1em 1.2em;
  text-decoration: none;
  color: white;
  border-radius: 2em;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.decouverte__conteneur__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0.5em 0.5em 0.5em #878787;
          box-shadow: 0.5em 0.5em 0.5em #878787;
  opacity: 0.85;
}

.fonctionnement {
  margin: 0;
  margin-left: 0.5em;
}

.fonctionnement__titre {
  margin-left: 1em;
}

.fonctionnement__titre h2 {
  font-weight: 100;
}

.fonctionnement__conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 992px) {
  .fonctionnement__conteneur {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.fonctionnement__conteneur__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 0.1em 1.5em 0;
  border-radius: 1.5em;
  -webkit-box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.5);
          box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 246, 246, 0.05)), to(rgba(246, 246, 246, 0.2)));
  background: linear-gradient(rgba(246, 246, 246, 0.05), rgba(246, 246, 246, 0.2));
  margin: 1em auto;
  width: 80%;
}

@media all and (min-width: 992px) {
  .fonctionnement__conteneur__carte {
    max-width: 30%;
  }
}

.fonctionnement__conteneur__carte--numero {
  margin: 0;
  margin-left: -10px;
  color: white;
  border: solid 1px #9356DC;
  border-radius: 100%;
  background: #9356DC;
  padding: 2px 5px;
  font-size: small;
  font-weight: normal;
  max-height: 15px;
}

.fonctionnement__conteneur__carte--logo {
  margin-left: 2em;
  color: #353535;
}

.fonctionnement__conteneur__carte--logo.fa-mobile-screen-button {
  padding-left: 3px;
}

.fonctionnement__conteneur__carte--logo.fa-list-ul {
  padding-left: 1px;
}

.fonctionnement__conteneur__carte p:nth-child(3) {
  margin: 0;
  margin-left: 2em;
  font-weight: bolder;
}

.restaurant {
  background-color: rgba(246, 246, 246, 0.3);
  margin: 0;
}

.restaurant__titre {
  margin-left: 1.5em;
}

.restaurant__titre h2 {
  font-weight: 100;
}

.restaurant__conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 2em 0;
}

@media all and (min-width: 768px) {
  .restaurant__conteneur {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (min-width: 992px) {
  .restaurant__conteneur {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (min-width: 992px) and (max-width: 1155px) {
  .restaurant__conteneur {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.restaurant__conteneur a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: black;
}

.restaurant__conteneur__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: auto;
  margin-bottom: 2em;
  position: relative;
  border-radius: 1em;
  -webkit-box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.5);
          box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.5);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@media all and (min-width: 768px) {
  .restaurant__conteneur__carte {
    max-width: 22em;
    margin: 0 0.2em 2em 0.2em;
  }
}

@media all and (min-width: 992px) {
  .restaurant__conteneur__carte {
    margin: 0 1em 2em 1em;
  }
}

@media all and (min-width: 992px) and (max-width: 1155px) {
  .restaurant__conteneur__carte {
    margin: 0 1.2em 2em 1.2em;
  }
}

.restaurant__conteneur__carte figure {
  width: 100%;
  margin: 0;
}

.restaurant__conteneur__carte figure img {
  width: 100%;
  height: 9.5em;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.restaurant__conteneur__carte__nouveau {
  position: absolute;
  top: 1.5em;
  right: 1em;
  text-decoration: none;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}

.restaurant__conteneur__carte__nouveau p {
  margin: 0;
}

.restaurant__conteneur__carte__bas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant__conteneur__carte__bas__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em 1.2em;
}

.restaurant__conteneur__carte__bas__info h3, .restaurant__conteneur__carte__bas__info p {
  margin: 3px 0;
  font-weight: 100;
}

.restaurant__conteneur__carte__bas__info .fa-heart {
  font-size: x-large;
  font-weight: 100;
}

.footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.footer__conteneur {
  margin: auto;
  margin-left: 1.5em;
}

.footer__conteneur__logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin: 0.5em 0;
  padding-top: 1.5em;
  width: 7.5em;
}

.footer__conteneur__lien {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 0;
}

.footer__conteneur__lien p {
  margin: 0;
  margin-left: 0.5em;
}

.footer__conteneur__lien .fa-utensils {
  width: 17px;
  margin-left: 3px;
}

.footer__conteneur__lien--gras {
  font-weight: bold;
}

.images {
  width: 100%;
  margin: 0;
  height: 22em;
  overflow: hidden;
}

.images img {
  width: 100%;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-top: -3em;
  width: 100%;
}

.menu {
  width: 100%;
  margin: 0;
  background-color: #f6f6f6;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: relative;
  z-index: 1;
}

.menu__titre {
  padding: 1.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 768px) {
  .menu__titre {
    padding: 1.5em 3em;
  }
}

.menu__titre h1 {
  font-size: 2rem;
  font-weight: 100;
  margin-right: 0.2em;
}

.menu__like {
  height: 2em;
  width: 2em;
  background-color: transparent;
  border: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.menu__like:hover::before {
  opacity: 1;
}

.menu__like::before {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
}

.menu__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  mix-blend-mode: lighten;
}

.menu__like:hover .menu__heart--anim {
  opacity: 0;
}

@media all and (min-width: 992px) {
  .menu__conteneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (min-width: 992px) and (max-width: 1190px) {
  .menu__conteneur {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__section {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  border-bottom: 0.3em #99E2D0 solid;
  padding-bottom: 0.3em;
  width: 2.5em;
}

.menu__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0.5em 0;
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.5);
          box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.5);
  overflow: hidden;
}

.menu__carte p {
  padding: 0 0 0 0.8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 90%;
}

.menu__carte p span {
  display: block;
  height: 5px;
  font-weight: bold;
}

.menu__carte .validation {
  width: 4em;
  background-color: #99E2D0;
  overflow: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin: 0 -4em 0 0.1em;
}

.menu__carte .validation__check {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: white;
  font-size: 1.5em;
}

.menu__carte:hover .validation {
  -webkit-animation: check-menu 300ms both;
          animation: check-menu 300ms both;
  margin-right: 0;
}

.menu__carte:hover .validation__check {
  -webkit-animation: check-rotate 300ms 100ms both;
          animation: check-rotate 300ms 100ms both;
}

.menu--prix {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: .5em;
  padding-right: 0.5em;
  margin-left: 1em;
}

.menu__entree {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 992px) {
  .menu__entree {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 1em;
  }
}

.menu__plat {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}

@media all and (min-width: 992px) {
  .menu__plat {
    padding: 0;
    margin: 0 1em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media all and (min-width: 992px) and (max-width: 1190px) {
  .menu__plat {
    margin-top: 2em;
  }
}

.menu__dessert {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}

@media all and (min-width: 992px) {
  .menu__dessert {
    padding: 0;
    margin: 0 1em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media all and (min-width: 992px) and (max-width: 1190px) {
  .menu__dessert {
    margin-top: 2em;
  }
}

.menu__btn {
  margin: auto;
  padding: 3em 0 5em 0;
  text-align: center;
}

.menu__btn a {
  text-decoration: none;
  color: white;
  padding: 1em 3em;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  border-radius: 2em;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  display: inline-block;
}

.menu__btn a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0.5em 0.5em 0.5em #878787;
          box-shadow: 0.5em 0.5em 0.5em #878787;
  opacity: 0.85;
}
/*# sourceMappingURL=style.css.map */