
.decouverte {
    text-align: center;
    background: linear-gradient(rgba(246, 246, 246, 0.3), rgba(246, 246, 246, 0.5));
    display: flex;
    flex-direction: column;

    &__conteneur {
        display: flex;
        flex-direction: column;
        margin: auto 35px;

        &__titre {
            margin: 0;
            padding-top: 30px;
            font-weight: lighter;

        }

        &__soustitre {
            margin: 10px auto 25px auto;
        }

        &__btn {
            margin: 10px auto 60px auto;
            padding: 15px 20px;
            text-decoration: none;
            color: white;
            border-radius: 50px;
            background: linear-gradient(to bottom right,$couleur-secondaire, $couleur-primaire);
            box-shadow: 1px 1px 1px rgb(211,211,211);

        }
    }
}