
.fonctionnement {
   margin: 0;
   margin-left: 0.5em;

    &__titre {   
        margin-left: 1em;   
            
        h2 {
            font-weight: 100;
        }
    }

    &__conteneur {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        }

        &__carte {
            display: flex;
            padding: 1.5em 0.1em 1.5em 0;
            border-radius: 1.5em;
            box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.5);
            background: linear-gradient(rgba(246, 246, 246,0.05), rgba(246, 246, 246,0.2));
            margin: 1em auto;
            width: 80%;

            @include desktop {
                max-width: 30%;
            }

            &--numero {
                margin: 0;
                margin-left: -10px;
                color: white;
                border: solid 1px $couleur-primaire;
                border-radius: 100%;
                background: $couleur-primaire;
                padding: 2px 5px;
                font-size: small;
                font-weight: normal;
                max-height: 15px;
            }

            &--logo {
                margin-left: 2em;
                color: $couleur-footer;

                &.fa-mobile-screen-button {
                    padding-left: 3px;
                }

                &.fa-list-ul {
                    padding-left: 1px;
                }
            }

            p:nth-child(3) {
                margin: 0;
                margin-left: 2em;
                font-weight: bolder;
            }
        }
    }
}