
.footer {
    background-color: $couleur-footer;
    display: flex;
    flex-direction: column;
    margin: 0;

    &__conteneur {
        margin: auto;
        margin-left: 1.5em;

        &__logo {
            filter: invert(100%);
            margin: 0.5em 0;
            padding-top: 1.5em;
            width: 7.5em;
        }

        &__lien {
            text-decoration: none;
            color: white;
            display: flex; 
            margin: 0.5em 0;

            p {
                margin: 0;
                margin-left: 0.5em;
            }

            .fa-utensils {
                width: 17px;
                margin-left: 3px;
            }

            &--gras {
                font-weight: bold;
            }
        }

    }
    
}
