
.header {
    margin:0;
    border-bottom: solid rgb(230, 230, 230) 1px;
    box-shadow: 4px 4px 4px rgb(230, 230, 230);

    &__lien {
        width: 1.5em;
        color: $couleur-polices-base;
        position: absolute;
    }
        i {
            padding-top: 2px;
            position: relative;
            left: 1em;
            font-size: larger;

        }

    &__conteneur {
        display: flex;
        justify-content: center;
        margin: 1.5em auto 1em auto;

        &__logo {
            width: 10.5em;
    

        }

    }

}