
.localisation {
    background: rgba(246, 246, 246, 0.5);
    height: 60px;
    border-bottom: solid 1px rgb(246, 246, 246);

    &__conteneur {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 17px;
        opacity: 1;

        i {
            padding-right: 15px;
            font-size: larger;
            opacity: 1;

        }

        p {
            margin: 0;
            padding-top: 2px;
            font-weight: bold;
            opacity: 1;
        }
    }
}