
.localisation {
    background: rgba($couleur-fond-base, 0.5);
    height: 4em;
    border-bottom: solid 1px $couleur-fond-base;

    &__conteneur {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 1em;
        opacity: 1;

        i {
            padding-right: 1em;
            font-size: larger;
            opacity: 1;

        }

        p {
            margin: 0;
            padding-top: 2px;
            font-weight: bold;
            opacity: 1;
        }
    }
}