
.restaurant {
    background-color: rgba(246, 246, 246, 0.3);
    margin: 0;

    &__titre {

        margin-left: 1.5em;

        h2 {
            font-weight: 100;
        }
    }

    &__conteneur {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 2em 0;

        @include tablette {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @include desktop {
            justify-content: space-between;

            @media all and (max-width: 1155px) {
                justify-content: space-around;;
            }
        }

        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: $couleur-polices-base;
        }



        &__carte {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: auto;
            margin-bottom: 2em;
            position: relative;
            border-radius: 1em;
            box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.5);
            transition: all 300ms;


            @include tablette {
                max-width: 22em;
                margin: 0 0.2em 2em 0.2em;
            }

            @include desktop {
                margin: 0 1em 2em 1em;

                @media all and (max-width: 1155px) {
                    margin: 0 1.2em 2em 1.2em;
                }
            }

            figure {
                width: 100%;
                margin:0;
                

                img {
                    width: 100%;
                    height: 9.5em;
                    overflow: hidden;
                    object-fit: cover;
                    margin: 0;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                }

            }

            &__nouveau {
                position: absolute;
                top: 1.5em;
                right: 1em;
                text-decoration: none;
                background-color: $couleur-tertiaire;
                color: darken($couleur-tertiaire, 40%);
                font-weight: bold;
                padding: 0.2em 0.5em;
                border-radius: 0.2em;

                p {
                    margin: 0;
                }

            }

            &__bas {
                display: flex;
                justify-content: space-between;

                &__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0.5em 1.2em;

                    h3, p {
                        margin: 3px 0;
                        font-weight: 100;
                    }

                    & .fa-heart {
                        font-size: x-large;
                        font-weight: 100;
                    }
                    
                }
            }
        }
    }
}