
@font-face {
    font-family: 'roboto';
    src:url('../polices/Roboto/Roboto-Regular.ttf') format('truetype'),
        url('../polices/Roboto/Roboto-Regular.woff') format('woff'),
        url('../polices/Roboto/Roboto-Regular.otf') format('opentype'),
        url('../polices/Roboto/roboto-v30-latin-regular.woff2') format('woff2');        
        
}

@font-face {
    font-family: 'shrikhand';
    src:url('../polices/Shrikhand/shrikhand-v11-latin-regular.eot') format('eot'),        
        url('../polices/Shrikhand/Shrikhand-Regular.woff') format('woff'),
        url('../polices/Shrikhand/shrikhand-v11-latin-regular.otf') format('opentype'),
        url('../polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype'),
        url('../polices/Shrikhand/shrikhand-v11-latin-regular.woff2') format('woff2');
                
}

body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'shrikhand', Arial, Helvetica, sans-serif;
}