
@mixin tablette {
    @media all and (min-width: map-get($breakpoint, tablette)) {
        @content;
        
    }
}

@mixin desktop {
    @media all and (min-width: map-get($breakpoint, desktop)) {
        @content;
        
    }
    
}

@mixin hover_btn {
    transform: scale(1.1);
    box-shadow: 0.5em 0.5em 0.5em darken(rgb(211,211,211), 30%);
    opacity: 0.85;
}